function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 2
push static 2
pop static 1
push static 1
push constant 0
add
pop temp 1
push constant 0
push temp 1
pop pointer 1
pop that 0
push static 1
push constant 1
add
pop temp 1
push constant 14335
push temp 1
pop pointer 1
pop that 0
push constant 0
return
function Memory.peek 0
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push static 0
push argument 0
add
pop temp 1
push argument 1
push temp 1
pop pointer 1
pop that 0
push constant 0
return
function Memory.alloc 2
push static 2
pop static 1
push static 1
push constant 0
add
pop pointer 1
push that 0
pop static 4
push static 1
push constant 1
add
pop pointer 1
push that 0
pop static 3
push static 3
push argument 0
push constant 2
add
gt
not
if-goto if.false.alloc.Memory0
push static 2
push static 3
push argument 0
sub
push constant 1
sub
add
pop local 0
push local 0
push constant 0
add
pop temp 1
push argument 0
push constant 1
add
push temp 1
pop pointer 1
pop that 0
push static 1
push constant 1
add
pop temp 1
push static 3
push argument 0
sub
push constant 1
sub
push temp 1
pop pointer 1
pop that 0
push local 0
push constant 1
add
return
goto if-true.alloc.Memory1
label if.false.alloc.Memory0
label if-true.alloc.Memory1
label while.loop.alloc.Memory2
push static 4
push constant 0
eq
not
not
if-goto while.exit.alloc.Memory3
push static 1
push constant 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
add
pop pointer 1
push that 0
pop static 4
push local 0
push constant 1
add
pop pointer 1
push that 0
pop static 3
push static 3
push argument 0
push constant 2
add
gt
not
if-goto if.false.alloc.Memory4
push static 3
push argument 0
sub
push constant 1
sub
pop static 3
push local 0
push constant 1
add
pop temp 1
push static 3
push temp 1
pop pointer 1
pop that 0
push static 1
push static 3
add
pop local 1
push local 1
push constant 0
add
pop temp 1
push argument 0
push constant 1
add
push temp 1
pop pointer 1
pop that 0
push local 1
push constant 1
add
return
goto if-true.alloc.Memory5
label if.false.alloc.Memory4
label if-true.alloc.Memory5
goto while.loop.alloc.Memory2
label while.exit.alloc.Memory3
push constant 1
neg
return
function Memory.deAlloc 2
push argument 0
push constant 1
sub
pop local 0
push local 0
push constant 1
add
pop temp 1
push local 0
push constant 0
add
pop pointer 1
push that 0
push temp 1
pop pointer 1
pop that 0
push local 0
push constant 0
add
pop temp 1
push constant 0
push temp 1
pop pointer 1
pop that 0
push static 2
pop local 1
label while.loop.deAlloc.Memory0
push local 1
push constant 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto while.exit.deAlloc.Memory1
push local 1
push constant 0
add
pop pointer 1
push that 0
pop local 1
goto while.loop.deAlloc.Memory0
label while.exit.deAlloc.Memory1
push local 1
push constant 0
add
pop temp 1
push local 0
push temp 1
pop pointer 1
pop that 0
push constant 0
return
